<footer class="pt-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="fc1 d-flex">
          <img class="f-logo" src="/site/assets/professores/<%= @site %>/img/logo-master-lp.png" alt="">
          <div class="textbot">
            <h2><%= raw @teacher.slogan %></h2>
            <p>A estratégia que faltava para você ser aprovado!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="fc2">
          <h3>Institucional</h3>
          <div class="redbar"></div>
          <ul class="pl-0 list-unstyled">
            <li><a href="/companies">Quem sou eu</a></li>
            <li><a href="/courses">Cursos</a></li>
            <li><a href="/courses?nature=free">Cursos gratuitos</a></li>
            <li><a href="/testimonials">Depoimentos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="fc3">
          <h3>Contato</h3>
          <div class="redbar"></div>
          <ul class="pl-0 list-unstyled">
            <li><a href="/contacts">Fale conosco</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="bar-left col-md-6 d-flex justify-content-start align-items-center">
          <span>EadTechnology 2022 | Todos os direitos reservados</span>
        </div>
      </div>
    </div>
  </section>
</footer>
