<div class="site-top-bar" role="navigation" aria-label="Acesso à área do aluno">
  <div class="site-top-bar__inner">
    <%= link_to "https://aluno.ranipassos.com.br", target: "_blank", class: "site-top-bar__btn" do %>
      <i class="fas fa-user" aria-hidden="true"></i>
      <span>Área do Aluno</span>
    <% end %>
  </div>
</div>
